body {
    background-image : url(/assets/img/woman-3187087_1280.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    color : white;
}

a:hover{
    color:  peachpuff;
}

.button{
    background-color: transparent;
    border: none;
    color : white;
}

.button:hover{
    color : #81ae9d;
}

.card-header{
    background-color: #406f77;
    color : white;
}

.pagination{
    font-size: 1.5rem;
}