body {
    background-image : url(/assets/img/woman-3187087_1280.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    color : white;
}

a:hover{
    color:  peachpuff;
}

.button{
    background-color: transparent;
    border: none;
    color : white;
}

.button:hover{
    color : #81ae9d;
}

.card-header{
    background-color: #406f77;
    color : white;
}

.pagination{
    font-size: 1.5rem;
}

h1, .pagination{
    text-shadow: 2px 0 0 #81ae9d, -2px 0 0 #81ae9d, 0 2px 0 #81ae9d, 0 -2px 0 #81ae9d, 1px 1px #81ae9d, -1px -1px 0 #81ae9d, 1px -1px 0 #81ae9d, -1px 1px 0 #81ae9d;
}